body {
  margin: 0;
  font-family: 'Montserrat';

  background-color: #161616;
  color: #ffdfd5;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  padding: 30px 120px;
}

h1,
h2 {
  margin-bottom: 28px;
}

ul {
  list-style-type: none;
  margin: 28px 0px 0px 0px;
  padding: 0px;
}

p {
  margin: 0px;
  font-size: 20px;
}

input {
  margin: 0px 16px;
  width: 500px;

  background-color: inherit;
  color: inherit;

  border: none;
  border-bottom: 1px solid #ffdfd5;
  outline: none;

  font-family: inherit;
  font-size: 20px;
}

input:hover,
input:focus {
  border-bottom: 1px solid #ffffff;
}

a {
  text-decoration: none;
  font-size: 20px;

  color: #ffdfd5;
  transition: all 0.3s ease;
}

a:hover,
a:focus {
  color: #ff007b;
}

button {
  width: 200px;
  height: 36px;
  margin: 20px 0px 0px 16px;

  border: 1px solid #ffdfd5;
  border-radius: 18px;
  background-color: inherit;
  color: inherit;

  font-family: inherit;
  font-size: 20px;

  transition: all 0.3s ease;
}

button:hover,
button:focus {
  background-color: #ff007b;
  color: #161616;
  border: none;
}

form {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
